body{
    background-image: url('images.jpg');
    background-repeat: no-repeat ;
    background-size: cover;
}
.head{
    display: block;
    font-size: 50px;
    color: mediumspringgreen;
    font-family: 'Times New Roman', Times, serif;
}
.App{
    text-align: center;
    
}
.result{
    height: 60px;
    background-color:lightgray;
   
}
.result p {
    font-size: 40px;
    margin: 5px;
  
  }
.calculator{
    max-width: 400px;
     margin: auto;
}
.buttons{
    display: block;
    background-color: darkolivegreen;
}
.buttons button{
    height: 50px;
    width: 25%;
    font-size: 30px;
    margin: 0px;
    padding: 0px;
    background-color: palevioletred;
}
.buttons button:focus{
    outline: none;
}
.buttons button:hover{
    background-color: lightseagreen;
}
